<section class="content-header">
    <h1>

    </h1>
    </section>

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div clss="box-header with-border">
                    <i class="fa fa-home"> </i> 

                    <h3 class="box-title">Base </h3> <span class="pull-right"></span>
                </div>

                <div class="box-body"> 
                    <div class="col-sm-3 col-xs-12">
                        <img class="box-img-detail" src="assets/img/maquiagens/base.jpg">
                    </div>

                    <dl class="col-sm-9 col-xs-12">
                        <dt>Categoria</dt>

                    </dl>
                </div>

                <div class="box-footer detail-footer">
                <a class="pull-left detail-active" href="detail-maquiagem.html">
                    Menu
                </a>
                <a class="pull-right" href="detail-restaurant-reviews.html">
                    Avaliações
                </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 col-xs-12">

            <div class="menu-item-info-box">
                <span class="menu-item-info-box-icon"><img src="assets/img/maquiagem/base.jpg"> </span>

                <div class="menu-item-info-box-content">
                    <span class="menu-item-info-box-text">Base Boca Rosa Beauty</span>
                    <span class="menu-item-info-box-detail">Base Líquida Mate HD Boca Rosa Beauty By Payot</span>
                    <span class="menu-item-info-box-price">R$39,99</span>
                    <a class=""><i class="fa fa-plus-circle"></i>Adicionar</a>
                </div>

            </div>
        </div>

    </div>

</section>